[Desktop Entry]
Name=ViGAPhone
StartupWMClass=ViGAPhone
Encoding=UTF-8
Type=Application
MimeType=application/x-vigaphone-tsv;
Comment=Synthèse musicale réaliste basée sur le modèle physique
Icon=vigaphone
Terminal=true
Categories=Music;AudioVideo;
